body
{
    font-family: 'Raleway', sans-serif;
    background: #1b1e21;
}

#main
{
    padding: 50px;
}

@media (max-width: 576px) {
    #main {
        padding: 15px;
    }
}

.dropdown-item:hover
{
    background: #007bff;
    color: #fff;
}

#edit
{
    background: #cecdd7;
}

#edit:hover
{
    background: #abaab4;
}

#background
{
    border-radius: 5px;
    height: 100%;
    background: rgba(1,115,35,0.6);
}

.butts
{
    margin: 3px;
    padding: 10px;
}



